p{
    color: blue;
    font-weight: bold;
    background-color: yellow;
}

h1{
    color: red;
    font-weight: bold;
    background-color: pink;
}

h2{
    color: blue;
    font-weight: bold;
    background-color: grey;
}

ul{
    font-style: bold;
}

h3{
  color: red;
    font-style: italic;
}

table, th, td{
    border: 1px solid pink;
}

.coolPeople{
    font-family: "Helvetica", "Times New Roman", Times, serif;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.tableTitles{
    background-color: #yellow;
}

div{
    margin: auto;
    width: 50%;
    border: 6px solid purple;
    padding: 16px;
}

.center{
    margin: auto;
    width: 50%;
    text-align: center;
}
